.section-header {
	position: relative;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #f8f1e1;
	box-shadow: 0 2px 6px rgba($black, .3);
	animation: background-move 4s linear 0s infinite normal none running;
	transition: opacity 0.1s;
	border: #a8a63a dashed 4px;
	border-width: 0 0 4px;

	h2 {
		margin: 16px 16px 16px;
		font-size: 2.8em;
		font-family: 'Urara H', "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
		color: #5c4323;
		text-shadow: 0 2px 8px rgba(black,.1);
		transform: translateX(-40px);
	}

	&:before, &:after {
		content: "";
		display: block;
		flex: 1;
		height: 0;
		border: #d8b383 solid 4px;
		border-radius: 4px;
	}

	&.hidden {
		opacity: 0;
	}
}

@keyframes background-move {
	0% {
		background-position: 0 0;
	}
	100% {
		background-position: 47px -47px;
	}
}
@include mq(pc-narrow){
	.section-header {
		h2 {
			transform: translateX(0);
		}
	}
}
@include mq(tl){
	.section-header {
		h2 {
			transform: translateX(0);
		}
	}
}
@include mq(sp){
	.section-header {
		height: 56px;
		position: sticky;
		top: 0;
		align-items: center;
		box-shadow: none;
		&:before {
			height: 4px;
		}
		h2 {
			margin: 0 0 0 50px;
			font-size: 1.6em;
			transform: translateY(-1px);
		}
	}
}