/* color */

$black: #000;
$white: #FFF;

$eclair-orange-light: #FFA26C;
$eclair-orange: #f27937;
$eclair-cyan: #65EDED;
$eclair-cyan-dark: #28B2B2;
$eclair-yellow: #FFE859;
$eclair-yellow-dark: #FFD724;