/* 電撃少女エクレアとは */
.about {
	background: url("images/common/stripe.png");
	background-size: 177px 151px;
	overflow-x: hidden;

	p {
		position: relative;
		margin: 24px 0;
		font-size: 1.4em;
		line-height: 1.6em;
		text-shadow: 0 1px 2px rgba(0,0,0,.1);
		text-align: center;
		span {
			display: inline-block;
		}
	}
	.emphasized {
		font-size: 120%;
		font-weight: bold;
		text-shadow: 0 3px 6px rgba(0,0,0,.2);
	}
}

@include mq(pc-narrow){
	.about h3 {
		margin-left: 0px;
	}
	.about-movie {
		margin-top: 48px;
	}
}
@include mq(tl){
	.about {
		p {
			text-shadow: 0 0 3px rgba($white,1);
		}
		h3 {
			margin-left: 0px;
			margin-bottom: 24px;
		}
	}
}
@include mq(sp){
	.about {
		overflow-x: visible;//hiddenだとstickyしなくなるクソバグ早く治せ
		p {
			font-size: 1.2em;
		}
		h3 {
			margin-left: 0px;
			font-size: 1.6em;
		}
	}
}