/* header */

//枠

.header {
	position: relative;
	width: 100%;
	border-bottom: #a8a63a solid 4px;
	overflow: hidden;
	background: linear-gradient(rgb(247, 247, 244),rgb(229, 235, 178));
	box-shadow: 0 3px 6px rgba(black, .2);
}

.header-container {
	position: relative;
	width: calc(100% - 32px);
	max-width: 1280px;
	height: 100%;
	margin: 0 auto;
	text-align: center;
}

@include mq(pc-narrow) {
	.header-container {
		width: 100%;
		max-width: 1024px;
	}
}
@include mq(tl) {
	.header {
		height: auto;
	}
	.header-container {
		width: 100%;
		padding: 24px 0;
		text-align: center;
	}
}
@include mq(sp){
	.header {
		height: auto;
	}
	.header-container {
		width: 100%;
		padding: 24px 0;
		text-align: center;
	}
}

//中身

@include mq(pc-narrow){

}

@include mq(tl){

}

@include mq(sp){

}