.news {
    .news-inner {
        text-align: center;
        padding: 24px;
    }
    h3 {
        margin: 1em 0;
        font-size: 2rem;
        text-shadow: 0 2px 4px rgba(black, .2);
    }
    .news-location {
        margin: 1em 0;
        font-size: 2rem;
        text-shadow: 0 2px 4px rgba(black, .2);
    }
}