.work {
    .work-inner {
        text-align: center;
        padding: 24px;
    }
    h3 {
        margin: 1em 0;
        font-size: 2rem;
        text-shadow: 0 2px 4px rgba(black, .2);
    }
    p {
        margin: 0.5em 0;
    }
    li {
        margin: 0.5em 0;
    }
    .work-location {
        margin: 1em 0;
        font-size: 2rem;
        text-shadow: 0 2px 4px rgba(black, .2);
    }
    img {
        box-shadow: 0 2px 4px rgba(black, .2);
    }
}

.twitter-tweet {
    margin: 32px auto;
}